<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Welcome</h4>
</div>

<ul>
  <li>You will now interpret 10 esophageal HRM cases using your locally installed ManoView software.</li>
  <li>Your performance on the baseline assessment will guide a personalized learning pathway.</li>
  <li>Remember:
    <ul>
      <li>In order to open the case, open the file within the ManoView software.</li>
      <li>Hide the impedance signal when present by clicking on "show Z".</li>
      <li>For the questions regarding hiatal hernia and integrated relaxation pressure, you should select “unable to determine” if the catheter does not traverse the esophagogastric junction.</li>
      <li>Distal latency and peristaltic integrity cannot be determined in the context of a distal contractile integral &lt; 450 mmHg·s·cm.</li>
      <li>For esophageal motility diagnosis, if the catheter does not traverse the esophagogastric junction the correct answer choice should be “Technically Limited”.</li>
    </ul>
  </li>
  <li>You must complete a case in order to save your performance. You can take breaks between cases, if you click on the “save and exit” button. Otherwise, you can proceed to the next case by clicking on the “save and next” button.</li>
</ul>

<%= button_to "Begin Baseline Assessment", introduction_path(type: BaselineAssessmentCase), method: :patch, class: "btn btn-secondary" %>
