<h1>Consent</h1>

<p>
  I acknowledge that data from my participation is being recorded and may be used for quality assurance and research.
  <br>
  The program will be available for 3 months from the time of registration.
  <br>
  If you attempt to re-register with your username (email address), your current account and progress will be reset.
</p>

<%= button_to "Next", { action: :create }, class: "btn btn-primary" %>
