<center>
<h1>Instructions and Overview</h1>
<h4>Esophageal Manometry Competency &amp; Certification (EMC<sup>2</sup>)</h4>
</center>

<p>EMC<sup>2</sup> is a training and assessment tool for high resolution esophageal manometry (HRM) that consists of three components:</p>

<strong>Baseline Assessment</strong>
<p> You will interpret ten esophageal HRM cases and receive a performance report card upon completion of the assessment.</p>

<strong>Training Modules</strong>
<p>EMC<sup>2</sup> includes training modules specific to HRM interpretation skills. You will be required to complete certain modules based on your performance in the baseline assessment.</p>

<strong>Final Assessment</strong>
<p>When you have completed the required training modules and are ready for the final assessment, the baseline assessment and training modules will be locked.
You will then interpret 20 esophageal HRM cases and receive a performance report card upon completion of the final assessment.</p>

<strong>Software</strong>
<p>In order to use this program you will need access to ManoView 3.0 software.
If you do not have experience with ManoView software or esophageal manometry, we recommend that you watch <%= link_to "this video", "https://vimeo.com/176184263", target: :_blank %>. The password for the video is <strong>learn</strong>.</p>

<strong>Access to files</strong>
<p>Please click on the “Download Case Information” button located at the top of each Baseline and Final Assessment question set or the “Download Files Needed for Modules” button located at the top of the Module Page.
We recommend that you keep all the downloaded files in one folder so that you can easily access them when opening the file in ManoView.</p>
<%= link_to "Home", home_path, class: "btn btn-secondary" %>