<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Congratulations</h4>
  <p class="mb-0">You completed the baseline assessment!</p>
</div>

<p>To view your report card, click the button below.</p>

<%= link_to "View Report Card", baseline_report_card_path, class: "btn btn-secondary" %>
